<h2><%= @movie[:title] %></h2>

<%= form_with url: parties_path, local: :true do |f| %>
  <%= f.hidden_field :api_movie_id, value: @movie[:id] %>
  <%= f.hidden_field :name, value: @movie[:title] %>
  <%= f.label :duration, "Duration:"%>
  <%= f.number_field :duration, value: @movie[:runtime], min: @movie[:runtime]  %>
  <%= f.label :start_time, "Start Time:" %>
  <%= f.datetime_field :start_time %>
  <%= f.label :friends, "Invite your friends:" %>
  <%= f.collection_check_boxes :friends, current_user.friends, :id, :username  %>
  <%= f.submit 'Create Viewing Party' %>
<% end %>
