<h1>Welcome <%= @current_user.email %>!</h1>
<%= link_to "Discover Movies", "/discover" %>

<h2>Friends</h2>
<% current_user.friends.each do |friend| %>
  <%= friend.email %><br>
<% end %>

<h3>Add Friend</h3>
<%= form_with url: friendship_path, method: :post, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Add Friend" %>
<% end %>

<h2>Parties</h2>
<% @current_user.parties.each do |party| %>
  <%= link_to party.name, movie_path(party.api_movie_id) %><br>
  <p>invited Friends </p
  <b><%= @current_user.email %></b><br>
    <% party.friends.each do |friend| %>
      <%= friend.email %><br>
    <% end %>
    Host: <%= party.host.email %>
<% end %>
